*{
    margin: 0;  
    padding: 0;   
}

body{
  
  font-family: Lato,sans-serif;
  font-weight: 400;
}
 

.container{
    background-color:#5d63cc;
    color: white;
    height: 100vh;
    position: relative;
}

.box{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading{
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 60px;
    line-height:40px ;
}

.paragraph{
    font-size: 20px;
}

.holder{
    position :absolute;
    bottom:0;
}
